*{ margin:0; padding:0;}
#ul1{ position:relative; margin:20px auto; background:transparent; overflow:hidden;}
#ul1 li{ list-style:none;}
 
.box0{ width:70px; height:70px; background:url(../images/1.png) no-repeat; float:left;}
.box1{ width:70px; height:70px; background:url(../images/2.png) no-repeat; float:left;}
.box2{ width:70px; height:70px; background:url(../images/3.png) no-repeat; float:left;}
.box3{ width:70px; height:70px; background:url(../images/4.png) no-repeat; float:left;}
.box4{ width:70px; height:70px; background:url(../images/5.png) no-repeat; float:left;}
.box5{ width:70px; height:70px; background:url(../images/6.png) no-repeat; float:left;}